<div class="mainAside">
  <div class="about">
    <div>
      <img class="cvPicture" src="../assets/cvFoto.png" alt="" />
    </div>
    <div class="aboutText">
      <div class="aboutGreeting">
        <h3>Hi, I'm <span class="bold">Matias Davidson</span></h3>
      </div>
      <div class="aboutTitle">
        <h4>Full Stack Developer</h4>
      </div>
      <div class="aboutMe">
        <h4>Front-End oriented</h4>
        <h4>
          Also: marketing graduate, amateur snowboarder and animal rights
          activist.
        </h4>
        <i class="fab fa-linkedin"></i>
      </div>
    </div>
  </div>
</div>
